<?php
/******************************************************************
 * Ideabytes Software India Pvt Ltd.                              *
 * 50 Jayabheri Enclave, Gachibowli, HYD                          *
 * Created Date : 03/02/2014                                      *
 * Created By : Pradeep G                                         *
 * Vision : Project Sparkle                                       *  
 * Modified by : Pradeep G     Date : 05/02/2014    Version : V1  *
 * Description : Footer of the template                           *
 *****************************************************************/

?>
        <div class="clear">&nbsp;</div>
        <div id="footer">
            <div id="footer_left">
    <a href="http://www.ideabytes.com/" target="_blank"><img src="layouts/images/etr.png"></a>
      </div>
      <div id="footer_middle" >
     © Copyright Ideabytes Inc.
      </div>
      <div id="footer_right">
        <a href="http://www.ideabytes.com" target="_blank"><img src="layouts/images/ideabytes.png"></a>
      </div>
			</div>
            <div class="clear">&nbsp;</div>
			
        </div>
    </body>
</html>